<div class="row">

    <div class="col-xl-12" id="currentRound"><p>Runde 1 / 6</p></div>

    <div class="col-xl-2"></div>
    <div class="col-xl-8">
        <table class="table-bordered">
            <tbody>
                <tr id="RoundNr0">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="RoundNr1">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="RoundNr2">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="RoundNr3">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="RoundNr4">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="RoundNr5">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xl-2"></div>

    <div class="col-xl-12">
        <div class="row">

            <div class="col-xl-3"></div>
            <div class="col-xl-6">

                <input type="text" class="form-control" id="wordInput" maxlength="5" list="wordInputDatalist">
                <datalist id="wordInputDatalist"></datalist>

            </div>
            <div class="col-xl-3"></div>

        </div>
    </div>
    <div class="col-xl-12">
        <div class="row">

            <div class="col-xl-5"></div>
            <div class="col-xl-2 text-center">

                <button id="btnNewGame" type="button" class="btn btn-warning" onclick="location.reload();">Neues Spiel</button>

            </div>
            <div class="col-xl-5"></div>

        </div>
    </div>

</div>