<div class ="row">
    
    <div class="col-xl-12" id="highScoreCaption">
        <p>Top Ten für dieses Word:</p>
    </div>

    <div class="col-xl-12" id="highScoreList">
        <table class="table-bordered">
            <thead>
                <td><p class="highScoreListCaption">Platz</p></td>
                <td><p class="highScoreListCaption">Name</p></td>
                <td><p class="highScoreListCaption">Runden</p></td>
                <td><p class="highScoreListCaption">Zeit</p></td>
            </thead>
            <tbody id="highScoreList">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
