<div class ="row">
    
    <div class="col-xl-12" id="highScoreCaption">
        <p>Top Ten für dieses Word:</p>
    </div>

    <div class="col-xl-12" id="highScoreList">
        <table class="table-bordered">
            <thead>
                <td id=""><p class="highScoreListCaption highScoreList_Place">Platz</p></td>
                <td id=""><p class="highScoreListCaption highScoreList_Name">Name</p></td>
                <td id=""><p class="highScoreListCaption highScoreList_Rounds">Runden</p></td>
                <td id=""><p class="highScoreListCaption highScoreList_Time">Zeit</p></td>
            </thead>
            <tbody id="highScoreList">
                <tr id="place0">
                    <td class="highScoreList_Place"></td>
                    <td class="highScoreList_Name"></td>
                    <td class="highScoreList_Rounds"></td>
                    <td class="highScoreList_Time"></td>
                </tr>
                <tr id="place1">
                    <td class="highScoreList_Place"></td>
                    <td class="highScoreList_Name"></td>
                    <td class="highScoreList_Rounds"></td>
                    <td class="highScoreList_Time"></td>
                </tr>
                <tr id="place2">
                    <td class="highScoreList_Place"></td>
                    <td class="highScoreList_Name"></td>
                    <td class="highScoreList_Rounds"></td>
                    <td class="highScoreList_Time"></td>
                </tr>
                <tr id="place3">
                    <td class="highScoreList_Place"></td>
                    <td class="highScoreList_Name"></td>
                    <td class="highScoreList_Rounds"></td>
                    <td class="highScoreList_Time"></td>
                </tr>
                <tr id="place4">
                    <td class="highScoreList_Place"></td>
                    <td class="highScoreList_Name"></td>
                    <td class="highScoreList_Rounds"></td>
                    <td class="highScoreList_Time"></td>
                </tr>
                <tr id="place5">
                    <td class="highScoreList_Place"></td>
                    <td class="highScoreList_Name"></td>
                    <td class="highScoreList_Rounds"></td>
                    <td class="highScoreList_Time"></td>
                </tr>
                <tr id="place6">
                    <td class="highScoreList_Place"></td>
                    <td class="highScoreList_Name"></td>
                    <td class="highScoreList_Rounds"></td>
                    <td class="highScoreList_Time"></td>
                </tr>
                <tr id="place7">
                    <td class="highScoreList_Place"></td>
                    <td class="highScoreList_Name"></td>
                    <td class="highScoreList_Rounds"></td>
                    <td class="highScoreList_Time"></td>
                </tr>
                <tr id="place8">
                    <td class="highScoreList_Place"></td>
                    <td class="highScoreList_Name"></td>
                    <td class="highScoreList_Rounds"></td>
                    <td class="highScoreList_Time"></td>
                </tr>
                <tr id="place9">
                    <td class="highScoreList_Place"></td>
                    <td class="highScoreList_Name"></td>
                    <td class="highScoreList_Rounds"></td>
                    <td class="highScoreList_Time"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
