/* html elements */

body
{
    background-color: black;
}

p
{
    color: white;
    font-family: monospace;
    margin-bottom: 0px;
}

td
{
    font-size: 30px;
    text-align: center;
    height: 86px;
    max-width: 20%;
    min-width: 20%;
    width: 20%;
}

table
{
    width: 100%;
    margin-bottom: 20px;
}

/* classes */

.letterExect
{
    background-color: green;
}

.letterInside
{
    background-color: orange;
}

.letterNot
{
    background-color: black;
}

/* ids */

#game-body
{
    margin-top: 15px;
}

#currentRound, #highScoreCaption
{
    text-align: center;
    font-size: 30px;
}

#btnNewGame
{
    margin-top: 15px;  

}

.dark-Modal
{
    background-color: black;
}