/* html elements */

body
{
    background-color: black;
}

p
{
    color: white;
    font-family: monospace;
    margin-bottom: 0px;
}

td
{
    font-size: 30px;
    text-align: center;
    height: 86px;
}

table
{
    width: 100%;
    margin-bottom: 20px;
}

/* classes */

.leterGui
{    
    max-width: 20%;
    min-width: 20%;
    width: 20%;
}

.letterExect
{
    background-color: green;
}

.letterInside
{
    background-color: orange;
}

.letterNot
{
    background-color: black;
}

.firstPlace
{
    color: gold; 
}

.secondPlace
{
    color: silver;
}

.thirdPlace
{
    color: #BF8970;
}

.dark-Modal
{
    background-color: black;
}

.highScoreList_Place
{
    width: 96.13px;
}

.highScoreList_Name
{
    width: 96.13px;
}

.highScoreList_Rounds
{
    width: 109.32px;
}

.highScoreList_Time
{
    width: 142.31px;
}

/* ids */

#game-body
{
    margin-top: 15px;
}

#currentRound, #highScoreCaption
{
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}

#btnNewGame
{
    margin-top: 15px;  
}